
@font-face {
  font-family:'AvenirNextCyr' ;
  src: url("../fonts/AvenirNextCyr-Bold.woff") format('woff');
  src: url("../fonts/AvenirNextCyr-BoldItalic.woff") format('woff');
  src: url("../fonts/AvenirNextCyr-Italic.woff") format('woff');
  src: url("../fonts/AvenirNextCyr-Demi.woff") format('woff');
  src: url("../fonts/")format('woff');
}
@font-face {
  font-family:'Roboto' ;
  src: url("../fonts/Roboto-Regular.woff") format('woff');
  src: url("../fonts/Roboto-BoldItalic.woff") format('woff');
  font-weight: 700;
}
@font-face {
  font-family:'jura' ;
  src: url("../fonts/Jura-Bold.woff") format('woff');
  src: url("../fonts/Jura-BoldItalic.woff") format('woff');
  font-weight: 700;
}
@font-face {
  font-family:'jura' ;
  src: url("../fonts/Jura-Regular.woff") format('woff');
  src: url("../fonts/Jura-Italic.woff") format('woff');
  font-weight: 300;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background-color:rgb(136, 194, 177);
  color:#121212;
  line-height: 1.5;
  font-family: Arial, sans-serif;
}
html {
  font-size: 15px;
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
h3{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  width: 400;
  color: #545454;
  line-height: 45.5px;/*верх отступ*/
  letter-spacing:6%;
  text-align:center;
  display: inline-block;
}
h2{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  width: 400;
  color: #2725a5;
  line-height: 45.5px;/*верх отступ*/
  letter-spacing:6%;
  text-align:center;
  display: inline-block;
}
a {
  text-decoration: none;
  color: #ece4d4;
  position: relative;
}

.container {
  min-width: 1280px;
  width: 100%;
  padding: 1em;
  margin: 20px auto;
}

/*исправить в скобках*/
a:not(.not-btn, .you-card-text, .logo)::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border: 2px solid  #f0cc84;
  color:inherit;
  transition: text-shadow 0.3s ease-in-out;
  opacity: 0;
}

a:hover::before {
  width: 100%;
  opacity: 1;
}

.header {
  padding: 20px;

  text-align: center;
  
  background: rgb(6, 59, 46);
  background: linear-gradient(0deg, rgba(49,196,160,1) 41%, rgba(180,111,199,1) 92%); 
  }


.header-title{
  color: aliceblue;
  text-align:center;
  font-size: 28px;
}


/*slider2*/


.slider {
  margin-top: 600px;
  max-width: 700px;
  height: 600px;
  overflow: hidden;
  border: 7px solid #01300f;
  border-radius:20px;
  background-color:rgb(12, 12, 12);
}

.middle {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  position: absolute;
  bottom: 16px;
  left: 70%;/*движуха кнопок в лево*/
  transform: translateX(-50%);
  display: flex;
}
/*
.bar {
  width: 50px;
  height:50px;
  margin: 10px;
  cursor: pointer;
  background-color: #2e23c2;
  opacity: .5;
  border-radius: 100%;

  transition: all 0.4s ease;
}
*/
.bar:hover {
  opacity: 1;
  transform:scale(1.1);
  background-color: #2e23c2;
  border-radius: 100%;
  border: 10px solid #da1919;
}

.bar {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 10px;

  background-color: #967dda;
  box-shadow: 0 0 2px 0 rgba(207, 36, 36, 0.8);
  border-radius: 100%;
  border: 10px solid #0db133;
 
}

.adaptivny-slider middle {
  overflow: hidden;
   
}



input[name="r"] {
  position: absolute;
  visibility: hidden;

}

.slides {
  width: 500%;
  height:100%;
  display: flex;
}

.slide {
  width: 25%;
  transition: all 0.6s ease;
}

.img {
  /*
  display: block;
  position: absolute;*/
  width: 100%;
  height: 100%;

}


#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -25%;
}

#r3:checked ~ .s1 {
  margin-left: -50%;
}

#r4:checked ~ .s1 {
  margin-left: -75%;
}

#r5:checked ~ .s1 {
  margin-left: -100%;
}



/*----------------Тест---------------*/
.product-х{
  width: 800px;
  height: 100px;
  margin: 0 auto;
  background: linear-gradient(0deg, rgba(49,196,160,1) 41%, rgba(180,111,199,1) 92%); 
  border: 5px solid #8a240b;
  border-radius:20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-position: center;
  background-size: cover;
 
}
.product-item {
  width: 500px;
  margin: 45px;
  background: rgb(10, 10, 10);
  border: 2px solid #0b8a26;
  border-radius:20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-position: center;
  background-size: cover;
  margin: center;
  height: 400px;
}
.product-item img {
  display: block;
  margin: 0 auto;
padding: 50px 50px;
}
.product-list {
  display: inline-block;
  background: #0a0a0a;
margin-left: 30px;
text-align: left;

}
.product-list h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #e7d8d8;
}








/*Footer*/

.footer {
 width:100%;
 height: 100px;
  margin-top: 70%;
  display: flex;
  align-items:center;
  background: rgb(49,196,160);
  background: linear-gradient(0deg, rgba(49,196,160,1) 41%, rgba(180,111,199,1) 92%); 
  color: aliceblue;
  text-align:right;
  font-size: 28px;
}